<div class="center-both-wrapper">
    <div class="main-section">
      <h2>Refferal Link</h2>

<p nz-typography nzContent="Refer other agents and get $50 each time a user is created using this link."></p>
<nz-button-group style="width:100%; margin-top:8px;">
  <button (click)="copyMessage('Hello')" nz-button style="width:100%; text-align: left;">
    <i nz-icon nzType="link" style="font-size: 14px; color: #25406B;"></i>
    https://realtyshare/register/1234
  </button>
  <button (click)="copyMessage('https://realtyshare/register/1234')" nz-button>
    <i nz-icon nzType="copy" style="font-size: 14px; color: #25406B;" nz-tooltip nzTooltipTitle="Copy to Clipboard"></i>
  </button>
</nz-button-group>

</div>
</div>
