<div class="vertical">
    <div style="display:flex;flex-direction:row;justify-content: space-between; ">
        <h3 style="display:flex;">All Listings | {{all_listings.length}}</h3>

        <div style="display:flex;align-content:flex-end">
            <a routerLink="/add-listing"><i nz-icon nzType="plus-square"
                    style="font-size: 18px; color: #25406B;"></i></a>
            <nz-divider nzType="vertical" style="height:80%;margin-left:12px;margin-right:10px;"></nz-divider>
            <a *ngIf="!toggleTiles" (click)="setToggleTiles()"><i nz-icon nzType="appstore"
                    style="font-size: 18px; color: #25406B;"></i></a>
            <a *ngIf="toggleTiles" (click)="setToggleTiles()"><i nz-icon nzType="bars"
                    style="font-size: 18px; color: #25406B;"></i></a>

        </div>

    </div>

</div>

<div *ngIf="!toggleTiles">
    <app-listings [all_listings]="all_listings"></app-listings>
</div>
<div *ngIf="toggleTiles">
    <div style="max-height:90%;min-height:90%;overflow-y:scroll !important;">
        <app-listings-tiles [all_listings]="all_listings"></app-listings-tiles>
    </div>
</div>