.full-img{
    background-image: url("../../../assets/img/photos/property12.jpg");
    object-fit: cover;
    background-repeat: no-repeat;
    width: 100%;
    height:20vh;
}

.right{
    width:50% !important;
    flex-direction:column;
    display:flex;
    flex:1;
    margin:24px;
    align-items:left;
    justify-content:center;
}